<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="text-h6"> SAMA PARTNERS </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item v-for="item in items" :key="item.title" link :to="item.to">
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      absolute
      color="green"
      elevate-on-scroll
      scroll-target="#scrolling-techniques-7"
    >
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-side-icon>
        <v-img class="mr-3" src="@/assets/logo.png" height="20px" width="20px">
        </v-img>
      </v-toolbar-side-icon>

      <v-toolbar-title>SAMA PARTNERS</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-row justify-content="flex-end">
        <v-avatar color="green">
          <v-icon dark> mdi-account-circle </v-icon>
        </v-avatar>
      </v-row>

      <!--dropdown button-->
      <div class="text-center">
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="green" light v-bind="attrs" v-on="on">
              Username
            </v-btn>
          </template>
          <v-list>
            <v-list-item>
              <v-list-item-title>Dashboard</v-list-item-title>
            </v-list-item>

            <v-list-item>
              <v-list-item-title>Profile</v-list-item-title>
            </v-list-item>

            <v-list-item>
              <v-list-item-title>Lagout</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    </v-app-bar>
    <v-img
      lazy-src="http://sfwallpaper.com/images/green-background-2.jpg"
      max-height="1400"
      max-width="2000"
      src="http://sfwallpaper.com/images/green-background-2.jpg"
    ></v-img>

    <router-link to="/login">
      <v-btn icon value="login">
        <span> Sign up</span>
      </v-btn>
    </router-link>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
   const d_layout="RegisterLayout"

export default {






  data: () => ({
    drawer: null,
    items: [
{ title: "Home", icon: "mdi-help-box", to: "/RegisterLayout.vue" },
      { title: "My documents", icon: "mdi-view-dashboard", to: "/Mydocuments" },
      { title: "Shared with me", icon: "mdi-help-box", to: "/Sharedwithme " },

      { title: "Communities", icon: "mdi-help-box", to: "/Communitie" },
      { title: "Organization", icon: "mdi-help-box", to: "/Organization" },


    ],


  }),

  computed: {

  layout(){

    return(this.$route.meta.layout ||d_layout) + "-layout"
  }
  }
  }
</script>
